/*
 *= require_tree .
 *= require_self
 */


 @import "../../../node_modules/bootstrap/scss/bootstrap";
 

 .container-login {
   @extend .container-fluid;
   max-width: 576px;
   padding: 2rem;
 }

 

 .alert-notice {
   @extend .alert-info;
 }

 .alert-alert {
   @extend .alert-danger;
 }

 .btn {
   padding: 2rem;
 }
